<div class="mx-auto w-auto" data-controller="select-component">
  <template data-select-component-target="chipTemplate">
    <%= render ChipComponent.new(text: '', close_btn_data_action: 'click->select-component#removeChip') %>
  </template>
  <template data-select-component-target="chipTemplate">
    <%= render ChipComponent.new(text: '', close_btn_data_action: 'click->select-component#removeChip') %>
  </template>
  <%= form_with class: 'bg-slate-100 flex rounded-lg relative' do |f| %>
    <div data-select-component-target="chips" class="flex space-1">
    </div>
    <%= f.text_field @text_field_name, type: :text, class: 'flex-1 bg-transparent py-2 pl-2 text-slate-600 focus:outline-none' %>
    <%= f.button type: 'button',
                 class: 'bg-transparent px-2 transform-gpu transition-[transform]',
                 data: { action: 'click->select-component#toggleDropdown', select_component_target: 'toggleBtn' } do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
      </svg>
    <% end %>
    <%= f.select :select, @options, {}, data: { select_component_target: 'hiddenSelect' } %>
    <ul class="absolute w-full bg-white top-12 shadow-md border border-slate-100 rounded-lg overflow-auto p-2 max-h-[200px] hidden z-10"
        data-select-component-target="dropdown">
      <% @options.each do |value, id| %>
        <%= render SelectOptionComponent.new(value: id, label: value) %>
      <% end %>
    </ul>
  <% end %>
</div>
